<div class="container-fluid footer">

  <div class="row row-no-padding">

    <div class="col-xs-12 col-sm-4 description">
<!--       <ul>
        <li>#designer</li>
        <li>#web developer</li>
      </ul> -->

    </div>

    <div class="col-xs-12 col-sm-4 contact text-left">
      <h3>Contact</h3>
      <ul>
        <li>mykimbuibui@gmail.com</li>
        <li>+32 485 36 76 49</li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4 text-left">
      <h3>Follow</h3>
      <div class="fav-icon">
        <%= link_to "https://github.com/mykimbui", :target => "_blank" do %>
        <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/my-kim-bui-91a8645a", :target => "_blank" do %>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <% end %>
        <%= link_to "https://fr.pinterest.com/mykilicious/", :target => "_blank" do %>
        <i class="fa fa-pinterest" aria-hidden="true"></i>
        <% end %>
        <%= link_to "https://soundcloud.com/mykilicious", :target => "_blank" do %>
        <i class="fa fa-soundcloud" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>

  </div>
</div>
