<div class="container-fluid footer">

  <div class="row row-no-padding">

    <div class="col-xs-12 col-sm-4">
    </div>

    <div class="col-xs-12 col-sm-4 contact text-left">
      <h3>Contact</h3>
      <ul>
        <li>mykimbuibui@gmail.com</li>
        <li>+32 485 367649</li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4 text-left fav-icon">
      <h3>Follow</h3>
      <i class="fa fa-github" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-pinterest" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-soundcloud" aria-hidden="true"></i>
    </div>

  </div>
</div>
