<div class="card img-responsive" style="background-image: , url('<%= project.picture0.present? ? cl_image_path(project.picture0) : cl_image_path('https://unsplash.it/500/400') %>');">
  <%= link_to "", project_path(project), class: "card-link" %>
</div>
