<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6">


      <h2>#webdesign</h2>
      <h2>#UI/UX</h2>
      <h2>#graphicdesign</h2>
      <h2>#branding/identity</h2>

      <h3>mykimbuibui@gmail.com</h3>
      <h3><a href="https://www.behance.net/mykimbui" target="_blank">behance</a></h3>
      <h3><a href="https://www.instagram.com/mykilicious/" target="_blank">instagram</a></h3>
      <h3><a href="https://www.facebook.com/my.k.bui" target="_blank">facebook</a></h3>
      <h3><a href="https://fr.pinterest.com/mykilicious/" target="_blank">pinterest</a></h3>
      <h3><a href="https://soundcloud.com/mykilicious" target="_blank">soundcloud</a></h3>
      <h3>+32485367649</h3>


    </div>
  </div>
</div>
