<div class="container-fluid">
  <section class="hero">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAR2.png", {class: "img-responsive"} %>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row row-space">
      <div class="col-xs-4">
        <p>Webdesign, Art direction, Minimal</p>
      </div>
      <div class="col-xs-8">
        <p>Volkswagen x Victoria's secret: Combining 2 different brands.</p>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAR3.png", {class: "img-responsive"} %>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag "CAR4.png", {class: "img-responsive"} %>
      </div>
    </div>

  </section>
</div>
