// Your footer style
.footer {
  height: 175px;
  background-color: #2E348C;
  color: white;
  padding-top: 30px;
}

ul {
  list-style: none;
}

.fav-icon {
  // padding-top: 60px;
  // padding-right: 50px;
}

.fa {
  padding: 20px;
  font-size: 20px;
}
