/* Main class */
.navbar {
  // height: 50px;
  padding: 10px 10px 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 50px;
}

.home-name a {
  color: white;
}

.home-name a:hover, a:focus {
  color: #2E348C;
  text-decoration: none;
  // display: flex;
  // justify-content: center;
}

/* Optional class to fix the navbar on top */
.navbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 100%;
}

/* Navbar logo */
.navbar img {
  width: 70px;
}

/* Navbar right section (with form, links, button) */
.navbar-right {
  // display: flex;
  // justify-content: flex-end;
  // float: right;
  right: 20px;
  top: 5px;
  position: absolute;
}
