.option-happy {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}

.previous {
  cursor: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_left_48px-48.png"), auto;
}

.next {
  cursor: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_right_48px-48.png"), auto;
}

.egg {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEdJREFUeAF90FEKgDAMwFDT+x9awYCRwjL282CM9joFsGie/swYy6oiENW8RaJ5PBvxvCpqxfwetTOqeyo+Rgx3JjnrCxNa3TwuAY6NyoMhAAAAAElFTkSuQmCC), auto;
}



.next {
  display: block;
  position: absolute;
  bottom: 0;
  width: 30%;
  min-height: 100vh;
  right: 0;
  z-index: 7;
}

.previous {
  display: block;
  position: absolute;
  bottom: 0;
  width: 30%;
  min-height: 100vh;
  left: 0;
  z-index: 7;
}
